.resultPage {
  background: #a2c7d7;
  height: 90vh;

  .title {
    color: #fff;
    padding-top: 48px;
    margin-bottom: 24px;
    text-align: center;
  }

  .subtitle {
    color: #fff;
    margin-bottom: 48px;
  }

  .enterBtn {
    width: 60vw;
    min-width: 180px;
  }
}
